---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'AI';
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
const posts = await getCollection('ai');
---

<BaseLayout pageTitle={pageTitle}>
  <section class="py-6">
    <p class="mb-2">A list of all AI-related posts below:</p>
    <ol>
      {
        posts.map((post) => (
          <BlogPost url={`/ai/${post.data.slug}`} title={post.data.title} />
        ))
      }
    </ol>
  </section>
</BaseLayout>
