---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Music Production";
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
const posts = await getCollection('musicProduction');
---
<BaseLayout pageTitle={pageTitle}>
  <section class="py-12">
    <p>A list of all music production posts below:</p>
    
    {posts.map(post => (
      <BlogPost url={`/music-production/${post.data.slug}`} title={post.data.title} />
    ))}
  </section>
</BaseLayout> 