---
import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioList from '../components/PortfolioList.astro';
const pageTitle = 'Projects | Andreas Johansson';
---

<BaseLayout pageTitle={pageTitle}>
  <section class="py-12">
    <PortfolioList />
  </section>
</BaseLayout>

