---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'UX design';
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
const posts = await getCollection('ux');
---

<BaseLayout pageTitle={pageTitle}>
  <section class="py-12">
    <p class="px-2 mb-2">A list of all UX-related posts below:</p>
    <ol>
      {
        posts.map((post) => (
          <BlogPost url={`/ux/${post.data.slug}`} title={post.data.title} />
        ))
      }
    </ol>
  </section>
</BaseLayout>

