---
const { url, title } = Astro.props;
---

<li>
  <a
    href={url}
    class="inline-block px-2 py-0.5 mt-2 rounded
        text-sky-700 dark:text-sky-300
        hover:text-sky-800 dark:hover:text-sky-200
        underline decoration-sky-700/40 dark:decoration-sky-300/40
        underline-offset-2
        hover:decoration-sky-800/60 dark:hover:decoration-sky-200/60
        hover:bg-sky-700/10 dark:hover:bg-sky-300/10
        transition-colors
        font-medium"
  >
    {title}
  </a>
</li>
