---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl prose-h2:font-bold prose-h2:text-2xl prose-h3:font-bold prose-h3:text-lg prose-h4:font-bold prose-h4:text-sm prose-h5:font-bold prose-h5:text-base prose-h6:font-bold prose-h6:text-xs
  prose-a:text-blue-600 prose-img:rounded-xl">
  <slot />
</div>